{
  "ShowLog":false,
  "Enabled":true,
  "EnableHeartbeat":true,
  "HeartbeatInterval":3,
  "SubscriptionID": "dev",
  "ServerNativeName": "server3",
  "ServerEnName": "server3",
  "Region": "EU",
  "GameMode": "PVE",
  "MaxPlayerNum": 100,
  "Password": "test",
  "OrderNum": 1,
  "IP": "127.0.0.1",
  "ExtraDataWithConfig":{
	"test":"test value"
  }
}