{
  "ShowLog":false,
  "Enabled":true,
  "EnableHeartbeat":true,
  "HeartbeatInterval":3,
  "SubscriptionID": "dev",
  "ServerNativeName": "server-us",
  "ServerEnName": "server-us",
  "Region": "US",
  "GameMode": "PVP",
  "MaxPlayerNum": 200,
  "Password": "",
  "OrderNum": 1,
  "IP": "127.0.0.1",
  "ExtraDataWithConfig":{
	"test":"test value"
  }
}