{
  "ShowLog":false,
  "Enabled":true,
  "EnableHeartbeat":true,
  "HeartbeatInterval":3,
  "SubscriptionID": "dev",
  "ServerNativeName": "中文服务器名",
  "ServerEnName": "chinese servername",
  "Region": "CN",
  "GameMode": "PVP",
  "MaxPlayerNum": 100,
  "Password": "",
  "OrderNum": 1,
  "IP": "127.0.0.1",
  "ExtraDataWithConfig":{
	"test":"test value"
  }
}